{{#partial "title" }}
Your custom greeting
{{/partial}}


{{#partial "content"}}

<h1>Yoooo,</h1>
<p>Your cash value of {{ input }} has been converted to: {{ converted }} </p>

{{/partial}}

{{> layout.hbs}}